<!-- Don't use inline styling - here used for our dev purpose to view card -->
<div style="width: 30%; padding: 4rem">
  <div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque voluptate
      nulla ipsam nisi, et pariatur nesciunt voluptatem sunt libero eum.
    </div>
  </div>
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque voluptate
      nulla ipsam nisi, et pariatur nesciunt voluptatem sunt libero eum.
    </div>
  </div>
</div>
